p    html,
    body {
        font-family: 'Oswald', sans-serif;
        color: #BC6612;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6, a {
        font-family: 'Roboto Condensed', sans-serif;
    }

    h1 {
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 70px;
        font-size: 4.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    table {
        font-size: 12px;
    }

    #search {
        height: 900px;
    }

    #map,
    #listing {
        height: 500px;
    }

    #map {
        position: fixed;
        width: 100%;
        margin-bottom: 1em;
        margin-top: 1em;
        display: block;
    }

    #listing {
        display: block;
        padding: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
        cursor: pointer;
        overflow-x: auto;
        border: 1px solid black;
    }

    .star,
    .placeIconl {
        padding-top: 16px;
        margin: 0px;
    }

    .placeIcon {
        width: 2.8em;
        height: 2.5em;
        margin: auto;
    }

    .container-fluid {
        padding: 10px 50px 10px 50px;
    }

    #findhotels {
        position: absolute;
        text-align: right;
        width: 100px;
        font-size: 14px;
        padding: 4px;
        z-index: 5;
        background-color: #fff;
    }

    #locationField {
        position: absolute;
        width: 200px;
        height: 25px;
        z-index: 5;
        background-color: #fff;
        text-align: center;
        margin: auto;
    }



    /* navbar */
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
    }

    .nav-link:focus, .nav-link:hover {
        text-decoration: none;
        color: #BC6612;
    }

    a:hover {
        color: #BC6612 !important;
        text-decoration: none;
    }

    .wrapper-top {
        margin-top: 10px;
        height: 80vh;
        width: auto;
    }

    .header-text1 {
        background-color: transparent;
        color: white;
        text-align: center;
        margin: auto;
        width: 80%;
        padding: 140px 0px;
    }

    .header-text {
        color: white;
        text-align: center;
        margin: 1em;
        padding: 140px 0px;
    }

    .information-text {
        text-align: center;
        margin: 1em;
        padding: 1em;
    }

/* # main-buttons*/

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#controls {
    margin: 1em;
    display: inline-block;
}

.form-group {
    margin: 1em;
    display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ececec;
    background-clip: padding-box;
    border: 1px solid #BC6612;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #BC6612;
    outline: 0;
    box-shadow: none;
}

#country, #autocomplete {
    color: #444;
    background-color: #f2f2f2;
    min-width: 260px;
    height: 40px;
    border-radius: 5px;
}



    #hotel-button,
    #restaurant-button,
    #bar-button {
        width: 170px;
    }

    .btn {
        color:#BC6612;
    }

    .btn:hover {
        color: black;
        text-decoration: none;
    }

    .hotelIcon {
        width: 24px;
        height: 24px;
    }



    #resultsTable {
        border-collapse: collapse;
        width: 240px;
    }

    #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
    }

    .image {
        background-image: url("../Images/new-york.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center 50%;
        height: 100%;
    }

    .iw_table_row {
        font-family: 'Oswald', sans-serif;
        height: 18px;
    }

    .iw_attribute_name {
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-align: right;
    }

    .iw_table_icon {
        text-align: right;
    }

    .iw-address,
    .iw-phone-row,
    .iw_attribute_name,
    .iw-phone {
        font-family: 'Oswald', sans-serif;
    }
