body {
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1rem;
    padding-top: 70px;
}

h2 {
    font-weight: bold;
    text-transform: capitalize;
    color: #BC6612;
}

h3, h5, li, p {
    color: #BC6612;
}

a {
    color: black;
    text-decoration: none;
}

a:active,
a:hover {
    color: #BC6612;
    text-decoration: none;
}

/* map */

#map {
    height: 1500px;
    width: auto;
    margin: 15px;
}


/*--------------------------- <section #="what-choices"> -----------------------*/

/* Wrapper for the background image */
.wrapper-top {
    height: 85vh;
    width: auto;
}

.image {
    background-image: url("../Images/new-york.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center 50%;
    height: 100%;
}

/* modal popup*/
.help-sign {
    color: rgba(46, 45, 45, 0.671);
    font-size: 3rem;
}

.modal-color {
    color: #BC6612;
}

.btn-modal:active,
.btn-modal:hover,
.btn-modal:focus,
.btn-modal:active:focus {
    color: #BC6612;
    text-decoration: none;
}

.icon {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.recommendation-box {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.check-box {
    margin-left: 20px;
}

.search {
    text-align: center;
    border: none;
    border-radius: 25px;
    width: 300px;
    letter-spacing: 0.1rem;
    background-color: #0000008a;
    color: #fff;
}

.search-box {
    text-align: center;
}

.search-btn {
    color: white;
    padding-right: 15px;
}

/*--------------------------- END OFF <section #="what-choices"> -----------------------*/

/* --------------------------- Recommendation section ----------------------------------*/

/* new css for my own cards */
.header-recommendations-section {
    height: 150px;
    padding-top: 35px;
}

.recommendations-header {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding-bottom: 35px;
    text-align: center;
}


/* ----------------------------------MEDIA QUERIES -------------------------*/
@media screen and (min-width: 1200px) {
    .wrapper-bottom {
        width: 100%;
        padding-right: 100px;
        padding-left: 100px;
        margin-right: auto;
        margin-left: auto;
      }
}


/* -----------------------Media queries less than 330px -------------------------*/

#map {
    height: 500px;
    width: auto;
    margin: 15px;
}

@media screen and (max-width: 330px) {
    h1 {
        font-size: 1.1rem;
        letter-spacing: 0.3rem;
    }

    h2, h3, h5 {
        font-size: 0.9rem;
    }

    .help-sign {
        font-size: 1.6rem;
    }

    .icon {
        display: none;
    }

    .recommendation-box {
        font-size: 0.9rem;
    }

    .search {
        width: 182px;
        font-size: 0.7rem;
        background-color: #000000;
        color: #fff;
    }

    .header-recommendations-section {
        height: 100px;
        padding-top: 10px;
    }

    .btn-bottom {
        font-size: 0.5rem;
        color: #BC6612;
    }
}

/* -----------------------Media queries between 331px and 413px -------------------------*/
@media screen and (min-width: 331px) and (max-width: 413px) {
    h1 {
        font-size: 1.1rem;
        letter-spacing: 0.3rem;
    }

    h2, h3, h5 {
        font-size: 0.9rem;
    }

    #map {
        height: 500px;
        width: auto;
        margin: 15px;
    }

    .header-recommendations-section {
        height: 100px;
        padding-top: 10px;
    }

    .text-center {
        padding: 0px 25px 0px 25px;
    }

    .btn-bottom {
        font-size: 0.5rem;
    }

    .header-box {
        padding: 10px 10px 10px 10px;
    }

    .wrapper-top {
        height: 85vh;
        width: auto;
    }

    .icon {
        display: none;
    }

    .help-sign {
        font-size: 1.5rem;
    }

    .recommendation-box {
        font-size: 1.1rem;
    }

    .search {
        font-size: 0.75rem;
        text-align: center;
        border: none;
        border-radius: 25px;
        width: 200px;
        letter-spacing: 0.1rem;
        background-color: #0000008a;
        color: #fff;
    }

    .modal-content {
        width: 300px;
        height: 300px;
    }

    .btn-bottom {
        font-size: 0.5rem;
    }
  }

/* ------------------- Media queries between 414px and 599px -------------------------*/

@media screen and (min-width: 414px) and (max-width: 599px) {
    h1 {
        font-size: 1.1rem;
        letter-spacing: 0.3rem;
    }
    
    h2 {
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
    }

    h3 {
        font-size: 1rem;
    }

    #map {
        height: 500px;
        width: auto;
        margin: 15px;
    }

    .icon {
        display: none;
    }

    .help-sign {
        font-size: 1.5rem;
    }

    .recommendation-box {
        font-size: 1.3rem;
    }

    .wrapper-top {
        height: 85vh;
        width: auto;
    }

    .modal-content {
        width: 300px;
        height: 300px;
    }

    .header-recommendations-section {
        padding-top: 10px;
    }

    .text-center {
        padding: 0px 25px 0px 25px;
    }

    .search {
        background-color: #0000008a;
        color: #fff;
    }

    .btn-bottom {
        font-size: 0.6rem;
    }
  }

/* ------------------- Media queries between 600px and 799px -------------------------*/

@media screen and (min-width: 600px) and (max-width: 799px) {
    h1 {
        font-size: 1.9rem;
        letter-spacing: 0.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

.wrapper-top {
    height: 80vh;
}

    .icon {
        display: none;
    }

    .help-sign {
        font-size: 1.5rem;
    }

    .recommendation-box {
        font-size: 1.6rem;
    }

    .header-recommendations-section {
        height: 150px;
        padding-top: 0px;
    }

    .text-center {
        padding: 0px 25px 0px 25px;
    }
}

/* ------------------- Media queries between 800px and 1024px -------------------------*/

@media screen and (min-width: 800px) and (max-width: 1024px) {
    .wrapper-top {
        height: 60vh;
    }

    .header-recommendations-section {
        height: 150px;
        padding-top: 10px;
    }

    .text-center {
        padding: 0px 40px 0px 40px;
    }
}
