body {
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1rem;
    padding-top: 70px;
}

h2 {
    font-weight: bold;
    text-transform: capitalize;
}

a {
    color: black;
    text-decoration: none;
}

a:active,
a:hover {
    color: red;
    text-decoration: none;
}
/*--------------------------- <section #="what-choices"> -----------------------*/

/* Wrapper for the background image */
.wrapper-top {
    height: 85vh;
    width: auto;
}

.image {
    background-image: url("../Images/new-york.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center 50%;
    height: 100%;
}

/* boxes */
.header-box {
    color: white;
    background-color: rgba(47, 47, 47, 0.3);
    border-radius: 25px;
    border: solid 1px transparent;
    padding: 10px 10px 10px 20px;
}

.search-box {
    text-align: center;
    background-color: rgba(47, 47, 47, 0.6);
    color:white;
    border-radius: 25px;
    border: solid 1px transparent;
    width: 350px;
    margin-top: 15px;
    padding: 5px 5px 5px 5px;
}

.box {
    margin-left: 10px;
}

.btn-modal:active,
.btn-modal:hover,
.btn-modal:focus,
.btn-modal:active:focus {
    color: red;
    text-decoration: none;
}

.icon {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.recommendation-box {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.check-box {
    margin-left: 20px;
}

.box {
    margin-left: 10px;
}

.search {
    text-align: center;
    border: none;
    border-radius: 25px;
    width: 300px;
    letter-spacing: 0.1rem;
    background-color: transparent;
    color: white;
}

.search-box {
    text-align: center;
}

.search-btn {
    color: white;
    padding-right: 15px;
}

/* modal popup*/
.help-sign {
    color: rgba(46, 45, 45, 0.671);
    font-size: 3rem;
}

/*--------------------------- END OFF <section #="what-choices"> -----------------------*/

/* --------------------------- Recommendation section ----------------------------------*/

/* new css for my own cards */
.header-recommendations-section {
    height: 150px;
    padding-top: 35px;
}

.container-recommendations {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;
}

.recommendations {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 0.25rem;
}

.recommendations-header {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 35px;
}

.recommendation-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .recommendation {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row; /* change this to column on smaller screens*/
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    border-radius: 0.25rem;
    padding: 10px;
}

.recommendation-image-box {
height: auto;
width: auto;
}

.recommendation-image {
    height: auto;
    width: 100%;
}

.recommendation-body {
    text-align: center;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.recommendation-title {
    margin-bottom: 0.75rem;
}

.recommendation-text {

}







.container-hotel {
    display: column;
    justify-content: space-evenly;
    align-items: center;
}

.hotel {
    display: left;
    height: 200px;
    width: auto;
}

.hotel-text {
    width: 20%;
}

.



/* recommendations cards */
.container-cards {                      
    display: inline-block;              
    justify-content: space-evenly;      
    align-items: center;                
}

.card {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    min-width: 30px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
  }

.card-body {
    padding: 0px;
}

.card-group {
    margin-left: 40px;
    margin-right: 40px;
}

.cards {
    text-align: center;
    margin: auto;
    width: 100%;
    border: 20%; 
}

.card-text {
    width: 140px;
    display: block;
    font-size: 1rem;
}

.card-img-top {
    height: auto;
    width: 80%;
    border-radius: 25px !important;
    padding: 0px 10px 0px 10px;
}

/* -----------------------Media queries less than 575px -------------------------*/

@media screen and (max-width: 575px) {
    h1 {
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        padding-bottom: 15px;
    }

    h2 {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
    }

    .wrapper-top {
        height: 85vh;
        width: auto;
    }

    .card {
        padding-left: 5px;
    }

    .card-title {
        margin-bottom: 2px;
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
    }

    .card-text {
        font-size: 0.6rem;
        letter-spacing: 0.05rem;
        display: block;
        width: 120px;
    }

    .card-img-top {
        padding: 0px 10px 0px 0px;
    }

    .card-body {
        padding: 0px;
    }

    span.check-box {
        display: block;
    }

    .icon {
        display: none;
    }

    .help-sign {
        font-size: 1.5rem;
    }

    .search {
        font-size: 0.75rem;
        text-align: center;
        border: none;
        border-radius: 25px;
        width: 200px;
        letter-spacing: 0.1rem;
        background-color: transparent;
        color: white;
    }

    .modal-content {
        width: 300px;
        height: 300px;
    }
  }

  /* ------------------- Media queries between 576px and 991px -------------------------*/

@media screen and (min-width: 576px) and (max-width: 1050px) {
    h1 {
        font-size: 1.75rem;
        letter-spacing: 0.5rem;
    }
    
    h2 {
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
    }

    .card-title {
        margin-bottom: 2px;
        font-size: 1rem;
        letter-spacing: 0.05rem;
    }

    .card-text {
        font-size: 0.5rem;
        letter-spacing: 0.05rem;
        display: block;
        width: 120px;
    }

    .card-body {
        padding: 0px;
    }

    .wrapper-top {
        height: 60vh;
        width: auto;
    }

    .card-img-top {
    
        height: auto;
        width: 90%;
        padding: 0px 10px 0px 0px;
    }

    .modal-content {
        width: 300px;
        height: 300px;
    }
  }
