body {
    font-family: 'Baloo Bhai', cursive;
}

h1, h2 {
    text-transform: uppercase;
}

a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

a:active,
a:hover,
a:focus,
a:active:focus {
    color: red;
    text-decoration: none;
}



/* header image */
.img-fluid {
    height: 670px;
    width: 100%;
}

/* Modal */
.btn-modal:active,
.btn-modal:hover,
.btn-modal:focus,
.btn-modal:active:focus {
    color: red;
    text-decoration: none;
}

/* Checkboxes */

.wrapper {
    position: relative;
}




.text {
 position: absolute;
}

/* search box */
.search-input {
    margin-top: 5px;
    margin-bottom: 10px;
}

.search {
    border: 1px solid grey;
    border-radius:25px;
}

/* recommendations cards */
.container-cards {                      /* parent contianer of cards */
    display: inline-block;              /* This arranges the direct child element of the container in a row */
    justify-content: space-evenly;      /* This defines the alignment of the items along the horizontal axis */
    align-items: center;                /* This defines the  behaviour along the vertical axis */
}

.cards {
    margin: auto;
    width: 40%;
    border: 20%
}

.card-text {
    font-size: 0.75rem;
}

.card-img-top {
    height: auto;
    width: 100%;
    padding: 10px;
    border-radius:  25px 25px 25px 25px !important;
}

/* back to top link */
.anchor-bottom {
    color: black;
    text-decoration: none;
    font-size: 0.75rem;
}

.anchor-bottom:hover,
  .anchor-bottom:active,
  .anchor-bottom:focus,
  .anchor-bottom:active:focus {
    color: red;
  }

/* Media queries - responsivness */

@media (max-width: 1023px) {
    body {
        font-size: 0.75rem;
    }
  }

@media (max-width: 1023px) {
    h1 {
        font-size: 1.75rem;
    }
}

@media (max-width: 567px){
    h1 {
        font-size: 1.3rem;
    }
    
    .container-box {
        display: block;
        padding: 0px;
        margin: 0px;
    }
}

@media (max-width: 1023px) {
    h2 {
        font-size: 1.25rem;
    }
}

@media (max-width: 1023px) {
    h5 {
        font-size: 1.15rem;
    }
}

@media (min-width: 567px) and (max-width: 813px) {
    .cards {
        margin: auto;
        width: 80%;
        border: 20%
    }
}

@media (max-width: 1023px){
    .img-fluid {
        max-width: 80%;
        height: auto;
    }
}
