body {
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1rem;
    padding-top: 70px;
}

h2 {
    font-weight: bold;
    text-transform: capitalize;
}

a {
    color: black;
    text-decoration: none;
}

a:active,
a:hover {
    color: red;
    text-decoration: none;
}

/* Wrapper for the background image */
.wrapper {
    height: 70vh;
    width: auto;
}

.image {
    background-image: url("../Images/new-york.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center 50%;
    height: 100%;
}

/* boxes */
.header-box {
    color: white;
    background-color: rgba(47, 47, 47, 0.3);
    border-radius: 25px;
    border: solid 1px red;
    padding: 10px 10px 10px 20px;
}

.search-box {
    text-align: center;
    background-color: rgba(47, 47, 47, 0.6);
    color:white;
    border-radius: 25px;
    border: solid 1px red;
    width: 350px;
    margin-top: 15px;
    padding: 5px 5px 5px 5px;
}

.box {
    margin-left: 10px;
}

/* modal popup*/
.help-sign {
    color: rgba(46, 45, 45, 0.671);
    font-size: 3rem;
}

.btn-modal:active,
.btn-modal:hover,
.btn-modal:focus,
.btn-modal:active:focus {
    color: red;
    text-decoration: none;
}

.icon {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.container-box {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.check-box {
    margin-left: 20px;
}

.box {
    margin-left: 10px;
}

.search {
    text-align: center;
    border: none;
    border-radius: 25px;
    width: 300px;
    letter-spacing: 0.1rem;
    background-color: transparent;
    color: white;
}

.search-box {
    text-align: center;
}

.search-btn {
    color: white;
    padding-right: 15px;
}

/* Media queries less than 575px*/

@media screen and (max-width: 575px) {
    h1 {
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        padding-bottom: 15px;
    }

    span.check-box {
        display: block;
    }

    .icon {
        display: none;
    }

    .help-sign {
        font-size: 1.5rem;
    }

    .search {
        font-size: 0.75rem;
        text-align: center;
        border: none;
        border-radius: 25px;
        width: 200px;
        letter-spacing: 0.1rem;
        background-color: transparent;
        color: white;
    }
  }

  /* between 576px and 991px */

@media screen and (min-width: 576px) and (max-width: 991px) {
    h1 {
        font-size: 1.75rem;
        letter-spacing: 0.5rem;
    }
  }
