    html,
    body {
        font-family: 'Oswald', sans-serif;
        color: #BC6612;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 10px;
        font-size: 75px;
    }

    h1, h2, h3, h4, h5, h6, a {
        font-family: 'Roboto Condensed', sans-serif;
    }

    a {
        color:#BC6612;
        font-weight: bold;
    }

    a:hover {
        color: white;
        text-decoration: none;
        background-color: hsla(0, 0%, 0%, 0.664);
    }

    p {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

/* -----------------------------# ID's------------------------------- */

    #search {
        height: 810px;
        background-color: rgba(128, 128, 128, 0.315);
    }

    #map,
    #listing {
        height: 385px;
    }

    #listing {
        width: 90%;
        margin-top: 15px;
        margin-left:20px;
    }

    #map {
        position: fixed;
        width: 100%;
        margin-bottom: 1em;
        margin-top: 1em;
        display: block;
    }

    #listing {
        background-image: url("../Images/find-local.png");
        background-repeat: no-repeat;
        background-position: center; 
        display: block;
        padding: 0;
        margin-bottom: 1em;
        margin-top: 1em;
        cursor: pointer;
        overflow-x: auto;
        /*width: 571px;*/
        width: 475px;
    }

    #controls {
        margin: 1em;
        display: inline-block;
    }

    #country, #autocomplete {
        color: #444;
        background-color: #f2f2f2;
        min-width: 260px;
        height: 30px;
        border-radius: 5px;
    }

    #hotel-button,
    #restaurant-button,
    #bar-button {
        width: 170px;
    }

    #results {
        width: 440px;
    }
    
    #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
    }

/* --------------------------- CLASSES --------------------*/
    .info-text{
        font-size: 16px;
    }

    .image {
        background-image: url("../Images/street2.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center 50%;
        height: 100%;
    }

    .star {
        padding-left: 16px;
        vertical-align: middle;
    }

    .placeIcon {
        width: 20px;
        height: 34px;
        margin: auto;
    }

    .icon {
        height: 28px;
        width: 28px;
        vertical-align: middle;
        margin: 5px;
    }

    .container-fluid {
        padding: 10px 50px 10px 50px;
    }

    .picture-overlay {
        display: block;
        width: 320px;
        height: 240px;
        margin: 80px auto 0 auto;
    }

    .img {
        vertical-align: middle;
        border-style: none;
    }

    .text-center {
        padding: 20px;
    }

    .wrapper-top {
        height: 100vh;
        width: auto;
    }

    .header-text {
        color: white;
        text-align: center;
        padding: 350px 0px;
    }

    
    .header-p {
        font-size: 24px;
    }

    .header-band {
        height: 210px;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .information-text {
        text-align: center;
        padding: 1em;
    }

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.form-group {
    margin: 1em;
    display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ececec;
    background-clip: padding-box;
    border: 1px solid #BC6612;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #BC6612;
    outline: 0;
    box-shadow: none;
}

    .button {
        color: white;
        font-size: 20px;
        background-color: hsla(0, 0%, 44%, 0.1);
        min-width: 260px;
        height: 40px;
        border-radius: 5px;
        padding: 0px 10px 0px 10px;
    }

    .button-bottom {
        color: white;
        font-size: 20px;
        background-color: hsla(0, 0%, 44%, 0.1);
        min-width: 260px;
        height: 40px;
        border-radius: 5px;
        padding: 0px 10px 0px 10px;
    }

    .btn-top{
        text-align: center;
    }

    .btn {
        color:#BC6612;
    }

    .btn:hover {
        color: black;
        text-decoration: none;
    }

    .hotelIcon {
        width: 24px;
        height: 24px;
    }

    .iw_table_row {
        font-family: 'Oswald', sans-serif;
        height: 18px;
    }

    .iw_attribute_name {
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-align: right;
    }

    .iw_table_icon {
        text-align: right;
    }

    .iw-address,
    .iw-phone-row,
    .iw_attribute_name,
    .iw-phone {
        font-family: 'Oswald', sans-serif;
    }

    .gm-style .gm-style-iw {
        font-size: 12px;
    }


/* --------------------------- MEDIA QUERIES --------------------*/

/* ----------- Galaxy S5 Portrait ----------- */
@media screen and (max-width: 640px) and (min-width: 360px) {
    h1 {
        font-size: 18px;
    }
    
    h2 {
        font-size: 18px;
        padding-top: 0px 0px 0px 10px;
    }

    p {
        font-size: 10px;
    }

    #map {
        left: 4px;
        width: 83%;
    }

    #search {
        height: 1270px;
    }

    #country, #autocomplete {
        color: #444;
        background-color: #f2f2f2;
        min-width: 150px;
        height: 30px;
        border-radius: 5px;
    }

    #listing {
        margin: 0px;
        width: 295px;
    }

    #results {
        width: 280px;
    }

    #hotel-button, #restaurant-button, #bar-button {
        width: 80px;
    }

    #restaurant-button {
        margin-right: 50px;
    }

    .image {
        height: 100vh;
    }



    .header-band {
        height: 120px;
        width: 308px;
    }

    .header-p {
        font-size: 14px;
    }

    .information-text {
        padding: 16px;
        width: 310px;
    }

    .header-text {
        padding: 220px 60px 0px 0px;
    }

    .button {
        font-size: 14px;
    }

    .info-text {
        font-size: 10px;
        margin: 0px;
        width: 260px;
        padding-left: 10px;
    }

    .form-control {
        min-width: 150px;
    }

    .placeIcon {
        margin-left: 15px;
    }

    .button-bottom {
        margin-right: 58px;
    }
}

/* ----------- Galaxy S5 Landscape ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-device-width: 812px) and (min-device-width: 375px) and (orientation: landscape) {
    .header-text {
        padding-top: 90px;
        padding-right: 250px;
    }

    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
        padding-top: 0px;
    }

    #map {
        left: 0px;
        margin-left: 0px;
    }

    #listing {
        margin-left: -25px;
    }

    #search {
        width: 640px;
    }

    .header-band {
        height: 145px;
    }

    .header-p {
        font-size: 14px;
    }

    .header-text {
        padding-top: 90px;
        padding-right: 250px;
    }

    .button {
        font-size: 18px;
    }

    .info-text {
        font-size: 12px;
        margin: 0px 25px 0px 25px;
    }

    .col-md-6 {
        left: 50px;
        padding-right: 0px;
        margin-left: 65px;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    h2 {
        font-size: 28px;
        padding-top: 0px;
    }

    #listing {
        margin-left: 50px;
    }

    .header-band {
        height: 140px;
    }

    .header-p {
        font-size: 14px;
    }

    .header-text {
        padding: 90px 0px;
    }

    .button {
        font-size: 18px;
    }

    .info-text {
        font-size: 12px;
        margin: 0px 25px 0px 25px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
        padding-top: 0px;
    }

    #map {
        left: 0px;
    }

    #listing {
        margin-left: 50px;
    }

    .header-band {
        height: 145px;
    }

    .header-p {
        font-size: 14px;
    }

    .header-text {
        padding: 90px 0px;
    }

    .button {
        font-size: 18px;
    }

    .info-text {
        font-size: 12px;
        margin: 0px 25px 0px 25px;
    }

    .col-md-6 {
        left: 50px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
        padding-top: 0px;
    }

    #map {
        left: 0px;
    }

    #listing {
        margin-left: 50px;
    }

    .header-band {
        height: 145px;
    }

    .header-p {
        font-size: 14px;
    }

    .header-text {
        padding: 90px 0px;
    }

    .button {
        font-size: 18px;
    }

    .info-text {
        font-size: 12px;
        margin: 0px 25px 0px 25px;
    }

    .col-md-6 {
        left: 50px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

/* ----------- iPhone X ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
        padding-top: 0px;
    }

    p {
        font-size: 12px;
    }

    #map {
        left: 0px;
    }

    #listing {
        margin-left: 15px;
        width: 350px;
    }

    .wrapper-top {
        width: 916px;
    }

    .header-band {
        height: 145px;
    }

    .header-p {
        font-size: 14px;
    }

    .header-text {
        padding-top: 90px;
        padding-right: 91px;
    }

    .button {
        font-size: 18px;
    }

    .info-text {
        font-size: 12px;
        margin: 0px 25px 0px 25px;
    }

    .col-6 {
        max-width: 40%;
    }

    .col-md-6 {
        left: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
        padding-top: 0px;
    }

    p {
        font-size: 12px;
    }

    #map {
        left: 0px;
    }

    #listing {
        margin-left: 15px;
        width: 350px;
    }

    .image {
        width: 1024px;
    }

    .wrapper-top {
        width: 966px;
    }

    .header-band {
        height: 145px;
        width: 1004px;
    }

    .header-p {
        font-size: 14px;
    }

    .header-text {
        padding-top: 235px;
        padding-right: 0px;
    }

    .button {
        font-size: 18px;
    }

    .info-text {
        font-size: 12px;
        margin: 0px 25px 0px 25px;
    }

    .col-6 {
        max-width: 40%;
    }

    .col-md-6 {
        left: 0px;
        padding-right: 0px;
        padding-left: 15px;
    }

    .row {
        margin-left: 25px;
    }
}
